<div id="social" class="mt-4 d-flex justify-content-center">
  <a href="http://pillai.xyz/instagram" target="_blank">
    <span class="d-flex justify-content-center align-items-center instagram rounded-circle mx-3" tooltip="Follow me on Instagram">
      <fa-icon class="text-white text-center" [icon]="['fab', 'instagram']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/linkedin" target="_blank">
    <span class="d-flex justify-content-center align-items-center linkedin rounded-circle mx-3" tooltip="Connect on LinkedIn">
      <fa-icon class="text-white text-center" [icon]="['fab', 'linkedin-in']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/github" target="_blank">
    <span class="d-flex justify-content-center align-items-center github rounded-circle mx-3" tooltip="Follow me on GitHub">
      <fa-icon class="text-white text-center" [icon]="['fab', 'github-alt']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/dribbble" target="_blank">
    <span class="d-flex justify-content-center align-items-center dribbble rounded-circle mx-3" tooltip="Follow me on Dribbble">
      <fa-icon class="text-white text-center" [icon]="['fab', 'dribbble']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/twitter" target="_blank" class="d-none d-md-block">
    <span class="d-flex justify-content-center align-items-center twitter rounded-circle mx-3" tooltip="Follow me on Twitter">
      <fa-icon class="text-white text-center" [icon]="['fab', 'twitter']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/googlemaps" target="_blank">
    <span class="d-flex justify-content-center align-items-center googlemaps rounded-circle mx-3" tooltip="Stalk me in the world">
      <fa-icon class="text-white text-center" [icon]="['fas', 'map-marked-alt']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/facebook" target="_blank" class="d-none d-md-block">
    <span class="d-flex justify-content-center align-items-center facebook rounded-circle mx-3" tooltip="Friend me on Facebook">
      <fa-icon class="text-white text-center" [icon]="['fab', 'facebook-f']"></fa-icon>
    </span>
  </a>

  <a href="http://pillai.xyz/googleplus" target="_blank" class="d-none d-md-block">
    <span class="d-flex justify-content-center align-items-center googleplus rounded-circle mx-3" tooltip="Add me on Google+">
      <fa-icon class="text-white text-center" [icon]="['fab', 'google-plus-g']"></fa-icon>
    </span>
  </a>
</div>
