<div id="social" class="mt-4 d-flex justify-content-center">
  <a href="https://pillai.xyz/instagram" target="_blank">
    <span class="d-flex justify-content-center align-items-center instagram rounded-circle mx-3"
      tooltip="Follow me on Instagram">
      <fa-icon class="text-white text-center" [icon]="faInstagram"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/linkedin" target="_blank">
    <span class="d-flex justify-content-center align-items-center linkedin rounded-circle mx-3"
      tooltip="Connect on LinkedIn">
      <fa-icon class="text-white text-center" [icon]="faLinkedinIn"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/github" target="_blank">
    <span class="d-flex justify-content-center align-items-center github rounded-circle mx-3"
      tooltip="Follow me on GitHub">
      <fa-icon class="text-white text-center" [icon]="faGithubAlt"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/dribbble" target="_blank">
    <span class="d-flex justify-content-center align-items-center dribbble rounded-circle mx-3"
      tooltip="Follow me on Dribbble">
      <fa-icon class="text-white text-center" [icon]="faDribbble"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/twitter" target="_blank" class="d-none d-md-block">
    <span class="d-flex justify-content-center align-items-center twitter rounded-circle mx-3"
      tooltip="Follow me on Twitter">
      <fa-icon class="text-white text-center" [icon]="faTwitter"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/googlemaps" target="_blank">
    <span class="d-flex justify-content-center align-items-center googlemaps rounded-circle mx-3"
      tooltip="Stalk me in the world">
      <fa-icon class="text-white text-center" [icon]="faMapMarkedAlt"></fa-icon>
    </span>
  </a>

  <a href="https://pillai.xyz/facebook" target="_blank" class="d-none d-md-block">
    <span class="d-flex justify-content-center align-items-center facebook rounded-circle mx-3"
      tooltip="Friend me on Facebook">
      <fa-icon class="text-white text-center" [icon]="faFacebookF"></fa-icon>
    </span>
  </a>
</div>
