@import '~src/scss/variables';

span {
  line-height: 1.6em;
}

img {
  width: 22px;
  height: 22px;
}

.line {
  position: relative;
  left: 0;
  transition: $default-transition;

  &:hover {
    left: 15px;
    transition: $default-transition;
  }
}