.hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  margin: 72.17px 0;
  background-image: url('~/assets/photos/IMG_8295.jpg');
  background-size: auto 288px;
  background-position: center;
  transition: all .25s ease;

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 176.78px;
    height: 176.78px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 36.61px;

    &:after,
    &:after {
      content: "";
      position: absolute;
      width: 250.0000px;
      height: 144.33756729740645px;
      transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
      transform-origin: 0 0;
      background: inherit;
    }
  }

  .hexTop {
    top: -88.3883px;

    &:after {
      background-position: center top;
    }
  }

  .hexBottom {
    bottom: -88.3883px;

    &:after {
      background-position: center bottom;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 250.0000px;
    height: 144.3376px;
    z-index: 2;
    background: inherit;
  }
}

@media (min-width: 1024px) {
  .hexagon {
    width: 350px;
    height: 202.07px;
    margin: 101.04px 0;
    background-size: auto 405px;

    .hexTop,
    .hexBottom {
      width: 247.49px;
      height: 247.49px;
      transform: scaleY(0.5774) rotate(-45deg);
      left: 51.26px;

      &:after,
      &:after {
        width: 350.0000px;
        height: 202.07259421636903px;
        transform: rotate(45deg) scaleY(1.7321) translateY(-101.0363px);
      }
    }

    .hexTop {
      top: -123.7437px;
    }

    .hexBottom {
      bottom: -123.7437px;
    }

    &:after {
      width: 350.0000px;
      height: 202.0726px;
    }
  }
}
