<app-section heading="Where do I live?">
  <a href="https://pillai.xyz/googlemaps">
    <img class="img-fluid" src="/assets/location/google-map.png" alt="Amruth Pillai on Google Map">
  </a>
</app-section>

<app-section heading="Find me on the interwebs!">
  <p>When I'm not building cool stuff like this, I'm usually whiling away my time on <a
      href="https://pillai.xyz/instagram">Instagram</a>
    and it's other assorted band of time crunchers.</p>

  <app-social></app-social>
</app-section>
