@import "~src/scss/variables";

.article {
  opacity: 0;

  img {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 60px;
    object-fit: cover;
    transition: $transition;
  }

  .date {
    line-height: 1.6em;
    color: #BBB;
  }
}

.article {
  &:hover {
    img {
      height: 100px;
      transition: $transition;
    }

    .title {
      color: $red;
    }
  }
}
