@import '~src/scss/variables';

.article {
  opacity: 0;

  img {
    min-width: 140px;
    height: 60px;
    object-fit: cover;
    transition: $default-transition;
  }
  span {
    line-height: 1.6em;
  }
}

.article {
  &:hover {
    img {
      height: 100px;
      transition: $default-transition;
    }
  }
}