<footer class="mt-5 container-fluid border-top py-5">
  <div class="row">
    <div class="col-10 col-md-6 col-lg-2 mx-auto text-center d-flex flex-column">
      <img class="img-fluid" src="./assets/logos/amruth-pillai.png" alt="Amruth Pillai">
      <span class="font-weight-bold">Resume on the Web</span>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col text-center">
      Copyright &copy; {{ this.currentYear }} All Rights Reserved.
    </div>
  </div>

  <div class="row mt-4">
    <div class="col mx-auto text-center">
      <a href="#" class="btn btn-sm btn-light">
        Scroll to Top
        <fa-icon class="ml-1" [icon]="['fas', 'caret-up']"></fa-icon>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="d-flex justify-content-center">
        <a class="text-center text-dark font-weight-bold text-uppercase small px-4 text-decoration-none" href="#">
          Privacy Policy
        </a>
        <a class="text-center text-dark font-weight-bold text-uppercase small px-4 text-decoration-none"
          href="https://github.com/AmruthPillai/ResumeOnTheWeb-Angular">
          GitHub Repo
          <fa-icon class="ml-1" [icon]="['fas', 'external-link-alt']"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
