<app-section heading="Development Projects">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="py-3 d-flex flex-column">
        <h6>CS VTU Lab Manual</h6>
        <div class="line-height-sm">
          <span class="badge badge-primary">Open Source</span>
        </div>
        <p class="mt-3">A one-stop solution to all the part and parcel of VTU CS Labs. Completely documeted for any CS
          student under the VTU Syllabus to grasp and understand.</p>
        <div>
          <a class="btn btn-outline-dark" href="#">
            <fa-icon class="mr-1" [icon]="['fab', 'github']"></fa-icon>
            GitHub Repo
          </a>
        </div>
      </div>
    </li>
  </ul>
</app-section>
