<!-- Navigation -->
<div class="d-flex justify-content-center">
  <div id="navigation" class="position-absolute">
    <app-navigation></app-navigation>
  </div>
</div>

<!-- Landing Section -->
<div id="landing" class="container-fluid">
  <div class="h-100vh d-flex justify-content-center align-items-center">
    <app-landing></app-landing>
  </div>
</div>

<!-- Resume Section -->
<div id="resume" class="container">
  <div class="row">
    <div class="col-12 col-lg">
      <app-left></app-left>
    </div>
    <div class="col-12 col-lg">
      <app-right></app-right>
    </div>
  </div>
</div>

<!-- Resume Download -->
<app-pdf-download></app-pdf-download>

<!-- Contact Me -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>
