@import '~src/scss/variables';

.gallery {
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: $default-transition;

    &:hover {
      opacity: .75;
      transition: $default-transition;
    }
  }
}
