<app-section heading="Skills">
  <div id="skills" snInViewport (inViewportChange)="animate($event)">
    <app-skill class="skill" icon="web" name="Web Design & Development" tech="HTML/CSS/Javascript"></app-skill>
    <app-skill class="skill" icon="angular" name="Frontend Javascript Frameworks" tech="AngularJS/Angular 7/React/Vue.js"></app-skill>
    <app-skill class="skill" icon="nodejs" name="Backend Javascript Frameworks" tech="Node.js/Express.js/MongoDB"></app-skill>
    <app-skill class="skill" icon="android" name="Android App Development" tech="Android Studio/Java + Kotlin/XML"></app-skill>
    <app-skill class="skill" icon="sketch" name="UI/UX Design" tech="Adobe Photoshop/Illustrator/XD & Sketch"></app-skill>
    <app-skill class="skill" icon="python" name="Machine Learning" tech="Python/R/TensorFlow"></app-skill>
    <app-skill class="skill" icon="seo" name="Search Engine Optimization" tech="PageRank/Backlinks/Google Analytics"></app-skill>
    <app-skill class="skill" icon="photography" name="Photography & Cinematography" tech="Adobe Photoshop Lightroom"></app-skill>
    <app-skill class="skill" icon="fcpx" name="Photo & Video Post-Processing" tech="Adobe After Effects/Final Cut Pro X"></app-skill>
  </div>
</app-section>
