<div class="container">
  <div class="row">
    <div class="col-10 col-lg-5 mx-auto">
      <img class="img-fluid" src="/assets/hexagon/photo.png" alt="Amruth Pillai Photograph" />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-10 col-lg-5 mx-auto">
      <a class="text-center" href="https://www.amruthpillai.com">
        <img class="img-fluid" src="./assets/logos/amruth-pillai.png" alt="Amruth Pillai" />
      </a>
    </div>
  </div>

  <div id="subtitle" class="row mt-2">
    <div class="col d-flex justify-content-center">
      <span class="designer">Designer</span> |
      <span class="developer">Developer</span> |
      <span class="photographer">Photographer</span> |
      <span class="writer">Writer</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-social></app-social>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button id="scroll-to-content" type="button" (click)="scrollTo()" class="btn btn-outline-primary"
      tooltip="Scroll to Content">
      <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
    </button>
  </div>
</div>
