@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

#subtitle {
  color: #BBB;

  .designer:hover {
    color: $green;
  }

  .developer:hover {
    color: $orange;
  }

  .photographer:hover {
    color: $pink;
  }

  .writer:hover {
    color: $red;
  }
}
