@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

#subtitle {
  color: #bbb;

  span {
    padding: 0 10px;
  }

  .designer:hover {
    color: $green;
  }

  .developer:hover {
    color: $orange;
  }

  .photographer:hover {
    color: $pink;
  }

  .writer:hover {
    color: $red;
  }
}

#scroll-to-content {
  position: absolute;
  bottom: 70px;
  opacity: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}
