<div class="d-flex justify-content-center">
  <app-hexagon></app-hexagon>
</div>

<div id="logo" class="row mt-4 d-flex justify-content-center text-center">
  <a class="col col-md-10" href="https://www.amruthpillai.com">
    <img class="img-fluid" src="./assets/logos/amruth-pillai.png" alt="Amruth Pillai" />
  </a>
</div>

<div id="subtitle" class="row mt-3">
  <div class="col d-flex justify-content-center">
    <span class="designer mx-2">Designer</span> |
    <span class="developer mx-2">Developer</span> |
    <span class="photographer mx-2">Photographer</span> |
    <span class="writer mx-2">Writer</span>
  </div>
</div>

<app-social></app-social>