<app-section heading="Want to say something?">
  <form #contactForm="ngForm">
    <div class="row d-flex py-2">
      <div class="col-md-2">
        <label class="control-label h6" for="name">Name</label>
      </div>
      <div class="col">
        <input class="form-control" type="text" name="name" placeholder="John Appleseed" [(ngModel)]="formModel.name"
          required>
        <small class="text-muted">Who in the world are you?</small>
      </div>
    </div>

    <div class="row d-flex py-2">
      <div class="col-md-2">
        <label class="control-label h6" for="email">E-Mail</label>
      </div>
      <div class="col">
        <input class="form-control" type="email" name="email" placeholder="someone@example.com" [(ngModel)]="formModel.email"
          required>
        <small class="text-muted">How in the world would I be able to contact you back?</small>
      </div>
    </div>

    <div class="row d-flex py-2">
      <div class="col-md-2">
        <label class="control-label h6" for="message">Message</label>
      </div>
      <div class="col">
        <textarea class="form-control" name="message" rows="4" [(ngModel)]="formModel.message" placeholder="Type your message here"
          required></textarea>
        <small class="text-muted">What on earth would you possibly want to say?</small>
      </div>
    </div>

    <div class="row mt-3">
      <div class="captcha offset-md-2 col-md-6 col-lg-7 text-center">
        <re-captcha class="d-inline-block" name="captcha" [siteKey]="siteKey" [(ngModel)]="formModel.captcha" required></re-captcha>
      </div>
      <div class="col-md-4 col-lg-3">
        <button class="btn btn-primary btn-lg w-100 h-100" [disabled]="!contactForm.valid"
          (click)="onSubmit()">
          <div class="d-flex flex-column">
            <fa-icon class="paper-plane" [icon]="['fas', 'paper-plane']"></fa-icon>
            <small class="button-text text-uppercase font-weight-bolder" style="font-size: .6em;">{{ buttonText }}</small>
          </div>
        </button>
      </div>
    </div>
  </form>
</app-section>
