<hr class="mt-5">

<div class="container">
  <div class="row py-5 d-flex align-items-center">
    <div class="col-md-5">
      <p class="h6" style="line-height: 2em;">To those HRs out there who need a more organized and minimized version of
        this resume, you can download the reliable PDF format here:</p>
    </div>
    <div class="offset-md-1 col-md">
      <a class="btn btn-block btn-lg btn-outline-danger" href="https://pillai.xyz/resume-pdf" target="_blank">
        <fa-icon class="mr-1" [icon]="faFilePdf"></fa-icon>
        Download PDF Resume
      </a>
    </div>
  </div>
</div>

<hr class="mb-3">
