// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// Partials
@import 'scss/variables';

// Global Styles
html,
body {
  font-size: .9em;
  font-family: $custom-font;
  font-weight: 400;
}

p {
  text-align: justify;

  @include media-breakpoint-down(sm) {
    text-align-last: center;
  }
}

.h-100vh {
  height: 100vh;
}
