@import "variables";

.dark-mode {
  background: $dark;
  color: $light;
  transition: $transition;

  .list-group-item {
    background: transparent;
    border-color: $border-dark;
    transition: $transition;
  }

  section .heading {
    border-color: $border-dark !important;
    transition: $transition;
  }

  hr {
    background-color: $border-dark;
    transition: $transition;
  }

  .form-control {
    background-color: $dark;
    color: $light;
    border-color: $border-dark !important;
    transition: $transition;
  }
}

.light-mode {
  background: $light;
  color: $dark;
  transition: $transition;

  .list-group-item {
    background: transparent;
    border-color: $border-light;
    transition: $transition;
  }

  section .heading {
    border-color: $border-light !important;
    transition: $transition;
  }

  hr {
    background-color: $border-light;
    transition: $transition;
  }

  .form-control {
    background-color: $light;
    color: $dark;
    transition: $transition;
  }
}
