$primary: #EEEEEE;

.dark-mode {
  background: #121212;
  color: #EEEEEE;

  .list-group-item {
    background: transparent;
    border-color: #444;
  }

  hr {
    background-color: #444;
  }

  .form-control {
    background-color: #121212;
    color: #EEE;
  }
}