// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/forms";

$custom-font: 'Open Sans', sans-serif;
$lightpaperfibers-bg: './assets/backgrounds/lightpaperfibers.png';