@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$dark: #121212;
$light: #FFFFFF;
$border-dark: #252525;
$border-light: #DDDDDD;
$transition: all .5s ease-in-out;
$font-family: 'Open Sans', sans-serif;
