@import '~src/scss/variables';

.icon {
  width: 60px;
  height: 60px;
}

#achievements {
  >li {
    padding-bottom: 1em;
    transition: $default-transition;

    span {
      line-height: 1.2em;
    }

    &:hover {
      padding-top: 1.8em;
      padding-bottom: 1.8em;
      transition: $default-transition;
    }
  }
}
