@import "~src/scss/variables";

.icon {
  width: 60px;
  height: 60px;
}

#achievements {
  >li {
    padding-left: 0;
    padding-right: 0;
    transition: $transition;

    span {
      line-height: 1.2em;
    }

    &:hover {
      padding-left: 1em;
      transition: $transition;
    }
  }
}
