@import '~src/scss/variables';

.icon {
  width: 34px;
  height: 34px;
}

#education {
  >li {
    padding-top: 2em;
    padding-bottom: 2em;
    transition: $default-transition;

    .grade {
      color: #CCC;
    }

    &:hover {
      padding-top: 3em;
      padding-bottom: 3em;
      transition: $default-transition;
    }
  }
}
