@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

section {
  .heading {
    border-bottom: 1px solid #EEE;

    h6 {
      color: #BBB;
      font-size: 1em;
    }

    @include media-breakpoint-down(sm) {
      h6 {
        text-align: center;
      }
    }
  }

  &:hover {
    .heading h6.red {
      color: $red
    }

    .heading h6.green {
      color: $green
    }

    .heading h6.blue {
      color: $blue
    }
  }
}
