@import "~src/scss/variables";

section {
  .heading {
    border-bottom: 1px solid #EEE;

    h6 {
      color: #BBB;
      font-size: 1em;
      transition: $transition;
    }

    @include media-breakpoint-down(sm) {
      h6 {
        text-align: center;
      }
    }
  }

  &:hover {
    .heading h6 {
      color: $red;
      transition: $transition;
    }
  }
}
