<app-section heading="Volunteer Work">
  <div class="d-flex align-items-start">
    <div class="col-1 p-0 m-0 d-none d-md-block">
      <svg class="img-fluid icon">
        <use xlink:href="#volunteer" />
      </svg>
    </div>
    <div class="col pl-3">
      <ul class="list-group list-group-flush" id="volunteer-work">
        <li class="list-group-item px-0 d-flex flex-column" *ngFor="let item of volunteerWork">
          <span class="h6">{{ item.title }}</span>
          <span>{{ item.description }}</span>
          <span *ngIf="item.link" class="small d-flex align-items-center">
            To know more,&nbsp;<a [href]="item.link" target="_blank">visit this link</a>
            <fa-icon class="small text-muted ml-1" [icon]="['fas', 'external-link-alt']"></fa-icon>
          </span>
        </li>
      </ul>
    </div>
  </div>
</app-section>

<!-- Volunteer Icon -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="volunteer" viewBox="0 0 460 460">
    <title>volunteer</title>
    <path style="fill:#EA6453;" d="M229.365,420c-71.069-0.005-129.101-57.827-129.364-128.896h40.002 c0.262,49.027,40.319,88.893,89.362,88.896H230V0c0,0-107.053,145.323-136.146,189.029 c-19.727,29.637-33.994,63.876-33.853,102.222C60.347,384.793,136.458,460.344,230,459.999V420H229.365z" />
    <path style="fill:#FFFFFF;" d="M229.365,380c-49.043-0.003-89.1-39.868-89.362-88.896h-40.002 c0.263,71.068,58.295,128.891,129.364,128.896h1.272v-40H229.365z" />
    <path style="fill:#EF1F4B;" d="M366.146,189.029C345.168,157.514,230,0,230,0v459.999c93.542,0.345,169.654-75.206,169.999-168.748 C400.14,252.905,385.873,218.666,366.146,189.029z" />
  </symbol>
</svg>
