@import '~src/scss/variables';

.icon {
  width: 60px;
  height: 60px;
}

span.h6 {
  font-weight: 600;
}

#volunteer-work {
  >li {
    padding-left: 0;
    padding-right: 0;
    transition: $default-transition;

    &:hover {
      padding-left: 1em;
      transition: $default-transition;
    }
  }
}
